<div style="width:100%; height:100%; display:flex; justify-content:center; margin-top:12%; ">
    <div style="border-style:solid;padding:50px">
<h1>Add Users</h1>
<%= form_with url: "/add" do |form|%>


<div>
    <%= form.label :Name%>
    <%= form.text_field :name %>
</div>
<br>
<div>
<%= form.label :Email %>
<%= form.text_field :email %>
</div>
<br>
<div>
    <%= form.label :Department%>
    <%= form.text_field :department%>
</div>
<br>
<div>
<%= form.label :Password %>
<%= form.text_field :password %>
</div>
<br>
<div>
<%= form.label :Status %>
<%= form.text_field :status %>
</div>
<br>
<div>
<%= form.label "User Kind" %>
<%= form.text_field :u_kind %>
</div>
<br>


<%= form.submit "Add"%>&nbsp; &nbsp; &nbsp;
<br>
<br>
<button><%= link_to "Back","/admin"%></button>&nbsp; &nbsp; &nbsp;
<button><%= link_to "Log In","/signin" %></button>&nbsp; &nbsp; &nbsp;
<%end%>
</div>