<div style="width:100%; height:100%; display:flex; justify-content:center; margin-top:12%; ">
    <div style="border-style:solid;padding:50px">
<h1>Sign In</h1>

<% flash.each do |type, msg|%>
    <%= msg%>
<% end %>
<%= form_with url: "/signin" do |f|%>
    <div class="mb-3">
        <%= f.label :email%>
        <%= f.text_field "email", class: "form-control" %>
    </div>

    <div class="mb-3" >
        <%= f.label :password%>
        <%= f.password_field "password", class: "form-control" %>
    </div>

      
        <%= f.submit "Sign In", class: "btn btn-primary" %>
    </div>
<% end %>
    </div>
</div>
