
<div style="width:100%; height:100%; display:flex; justify-content:center; margin-top:12%; ">
    <div style="border-style:solid;padding:50px">
<h1>User Page</h1>

<div style='display:flex; flexDirection:row; '>
 <div style='margin-right:20px;'><strong>Name:</strong><%= @up.name%></div>
        <div><strong>Status:</strong><%= @up.status%></div>
</div>
       <br>
        <% if(@up.status!="Terminated" )%>
        <button><%= link_to 'Create Expense', "/createexp/#{@up.id}" %></button>
        <%end%>
       <button> <%= link_to 'Your Expenses', "/viewexpenseuser/#{@up.id}" %></button>
        <button><%= link_to 'Log Out',"/logout"%></button>
</div>
        
</div>
